<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>
<div class="container my-5">
    <h1 class="text-center text-info">All Categories</h1>
    <div class="col-md-8 offset-md-2">
        <a href="/cats/create" class="btn btn-sm btn-primary mb-2">Create <i class="fas fa-plus"></i> </a>
        <table class="table table-bordered">
            <thead>
            <tr class="bg-dark text-white">
                <th>No</th>
                <th>Name</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="cat : ${cats}">
                <td th:text="${cat.id}"></td>
                <td th:text="${cat.name}"></td>
                <td><img th:src="@{'/uploads/'+${cat.image}}" alt="BM PNG" width="50px"></td>
                <td>
                    <a th:href="@{'/cats/edit/'+${cat.id}}" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a th:href="@{'/cats/delete/'+${cat.id}}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


<div th:replace="fragments :: foot">
</div>
</body>
</html>