<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

   <div class="container my-5">
      <h1 class="text-center text-info">Edit Tag</h1>
      <div class="col-md-6 offset-md-3">
         <form method="post" th:action="@{'/tags/edit/'+${oldtag.id}}" th:object="${tag}" enctype="multipart/form-data">
            <div class="mb-3">
               <label for="name" class="form-label">Name</label>
               <input type="text" class="form-control" id="name" name="name" th:value="${oldtag.name}">
            </div>
            <img th:src="@{'/uploads/'+${oldtag.image}}" alt="">
            <div class="mb-3">
               <label for="file" class="form-label">Image</label>
               <input class="form-control" type="file" id="file" name="file" th:field="*{file}">
            </div>
            <button type="submit" class="btn btn-primary btn-sm float-end">Update</button>
         </form>
      </div>
   </div>


   <div th:replace="fragments :: foot"></div>
</body>

</html>