<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img th:src="@{'uploads/4.png'}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Women Bag</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: foot"></div>
</body>
</html>